*{
    box-sizing: border-box;
    font-size: 10px;
}
div {
    background-color: white !important;
}
div.allCategories {
    padding: 0.9em;
    padding-left:3em;
    padding-right: 3em;
    background-color: whitesmoke;
    border-bottom: 0.3em solid whitesmoke;
}
div.allCategories:nth-child(1){
    border-top: 1em solid whitesmoke;
}
div img {
    width: 15%;
}
div .description {
    width: 70%;
    padding-left: 2em;
    padding-right: 2em;
}
div .description h5 {

    font-size: 1.5em;
    font-weight: bold;
}
div .description h5,
div .description p{
    padding: 0 !important;
    margin: 0 !important;
}
div span {
    width: 15%;
}
.one-line {
    display: block;
    float: left;
}
.each-expense{
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color:rgb(216, 245, 253);
    text-align: center;
    font-size: 1.5em;
}