*{
    box-sizing: border-box;
    font-size: 10px;
}
div {
    background-color: white !important;
}
div.allCategories {
    padding: 0.9em;
    padding-left:3em;
    padding-right: 3em;
    background-color: whitesmoke;
    border-bottom: 0.3em solid whitesmoke;
}
div.allCategories:nth-child(1){
    border-top: 2em solid whitesmoke;
}
div img {
    width: 10%;
}
div .description {
    width: 80%;
    padding-left: 2em;
    padding-right: 2em;
}
div .description h5 {

    font-size: 1.5em;
    font-weight: bold;
}
div .description h5,
div .description p{
    padding: 0 !important;
    margin: 0 !important;
}
div span {
    width: 10%;
}
.one-line {
    display: block;
    float: left;

}