<!---
<ul class="myNav element pan-x">
  <span class="empty"></span>
  <li class="myNav-item" *ngFor="let month of months">
    <a class="myNav-link" href="#">{{month}}</a>
  </li>
  <span class="empty"></span>
</ul>
-->

<div id="carouselExampleControls" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let month of months">
      <h5>{{month}}</h5>
      <app-total-expenses></app-total-expenses>
      <app-chart [allMonths]="months" [thisMonth]="month" [allMonthesExpenses]="allMonthesExpenses"></app-chart>
    </div>
    
  </div>
</div>
<div class="gray-empty-div">

</div>
